files:
  /etc/nginx/conf.d/https.conf:
    mode: "000644"
    owner: root
    group: root
    content: |
      # HTTPS Server
      
      server {
        listen 443;
        server_name localhost;
        
        ssl on;
        ssl_certificate /etc/pki/tls/certs/server.crt;
        ssl_certificate_key /etc/pki/tls/certs/server.key;
        
        ssl_session_timeout 5m;
        
        ssl_protocols TLSv1 TLSv1.1 TLSv1.2;
        ssl_prefer_server_ciphers on;
        
        location / {
          proxy_pass http://docker;
          proxy_http_version 1.1;
          
          proxy_set_header Connection "";
          proxy_set_header Host $host;
          proxy_set_header X-Real-IP $remote_addr;
          proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
          proxy_set_header X-Forwarded-Proto https;
        }
      }
      
  /etc/pki/tls/certs/server.crt:
    mode: "000400"
    owner: root
    group: root
    content: |
      -----BEGIN CERTIFICATE-----
      www.magnicache.com,_900ee1a888924a36a4b6999585969bb1.www.magnicache.com.,CNAME,_c7feca700593522e7c9e72f5d8fbe188.cltjbwlkcy.acm-validations.aws.
      -----END CERTIFICATE-----
      
  /etc/pki/tls/certs/server.key:
    mode: "000400"
    owner: root
    group: root
    content: |
      -----BEGIN RSA PRIVATE KEY-----
      MIIEpAIBAAKCAQEAqXezdtjFZurcUJHE+ANAbEBU51jA+V9ku50yYmzoM9q9FFod
3VPdLYMep6V8W8j9A2FGsHYx9tnnFHoJidHXhCHX0FwMPUyn6WyW+EXCync1GZa4
23S/rnwuv32lvVHVqnVKnkdnfbQJkv3eeaFp71bzCM4QM/qVRH1uZ/KjhmUbyrxb
6AuaNLtsbQ1CKI0TaS4mSGSwlobgnNXrMTNulqHNMYoXZ+O1mN76dbHjCpaR+wvT
lJ2JXx8WSsJM8fqbyiLlAP/L55zLU7MwtjoueY0nDZQ6PZheN2pHT2NMQSCVmHRb
VaX1xEC59CBLwYQO+iJeoLAkmzMfuNL1VlJv0QIDAQABAoIBAQCNc+OxrOjAqgMx
oSrm1Vf9w4ja/iM9Q5nCXEkFDOCY/9jZVwschfbVGWAKEUCHIHHIU3b8rfuwj1up
pN+3URdyLAmG2n5A4G47ka9GFnysIOqKrFsqmv2wN+mRXuBr8RXGzVZ2XSWOMCvZ
rNv5bHkPFOWRkObHbD8RxxzT2R0TfI75QpVRWaX7kWk+2u2MKIDkj9jci+DtTCog
AoOiUwj5E4wuhPx75iTI8iCFh8j+TCTAfehF+1JT39sVM347FDmfTli3502BvBzO
yakMkts12UZ3W8zWzMyVBXkzrFsTb8VKBK0xWiCaiHmiGYbndA9ohuPJwj8DgBDe
sXT0ag/BAoGBAOE9GwShoj+DGuZOlRcaf2n3ONVh+RW1LuHzgpKx2a3Cu6Koxrbu
sWl/4YSppUqjOigByBvT8nGoAXG4mdq0ssrxFSaxFNQFrid9x9/9nEj3QkWd5KR2
2TecRVuM507or5pQDWXqbB28g4PAuDKuiDOnrp1k6Y9qw5jXDwku+3IJAoGBAMCc
s4m7rud2M23L+QjOvpw117IKt9xC2hneewlxLBwOOKDDyfdMvW3/bxt4Br48KTUJ
jUfqNVGlVOXMRiDYZ6sEt23DEvD9Lz4IB0rCCtksoYCmZ92vAMPE5ucopGHecHHW
bOfdsCZbn9vwQVSQZy8tTWlfIHutED+vLf3+ZWGJAoGAYbq1wmivkYc9YLiwD/o7
VqsiSdPc1AJteTTDbwskPDTGXWmF71HaQMBwBbPmOGBil4FOZmSsSYxwM/u5JiBJ
g6zfVI55TxW33wLAevv7l91RMAu2bXX0AiEYJwUYSDDGINqjNZlll/F3zu8L/VGl
X2Rea4ShoszcWbDWoVF1YKECgYAwik0ktMvLQRqM3Q6RjaizrU4CbHkRZTeZtVvE
cWTwXRUgTrcjP4+tnOXfQkxQvNCVsSaNrRRq0wOmNeimdmMJ0lJ3suWfHe897sAH
swcQ3BKHXWhnkabbr0+RiciDcY9c4PDpLhEqWYTb5JxSN2IJnZ0YpQSGpoKlyfwJ
OodKIQKBgQDcMfpGI17XQnszgzX/vmhnvP1lobeqWvYwUIaELhjyDJ73792fnxLN
NyElWLYiPy9SmQxnkQEgyBT5WY4lk68xRPGoZ/MlHtm2Mmgwpao6RhpNf7luLNEG
/iRhPCssiXZ5+CQHLsmg+csxtBpnD9sp0/LltLPKBt7x9z/ASXA6vA==
      -----END RSA PRIVATE KEY-----
