// @import '~bootstrap/scss/bootstrap';
$borderRad: 14px;
$SmallFont: #313533;
$primaryColor: #5b2af0;
$secondaryColor: #1a8fe3;
$tertiaryColor: #d6fbff;
$secondaryWhite: white;
$blackColor: #313533;
$errorColor: #b3001b;
$lightTertiaryColor: rgba(214, 251, 255, 0.3);

body {
  background-color: $lightTertiaryColor;
}

.maintainer {
  width: 100%;
  height: 100%;
  background-color: $lightTertiaryColor;
}

.nav {
  border-bottom: 1px solid $blackColor;
  background-color: $primaryColor;
  color: $tertiaryColor;
  margin-bottom: 20px;
}

.all-nav-links {
  display: flex;
  justify-content: right;
}

#about-nav-link,
#docs-nav-link,
#team-nav-link {
  color: $tertiaryColor;
}

#nav-title {
  color: $tertiaryColor;
  font-size: 1.75em;
}

.metrics-container {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  background-color: $lightTertiaryColor;
  height: 100%;
  width: 100%;
  padding: 1.5%;
}

.query-container,
.visuals-container {
  width: 95%;
  border: 2px solid $secondaryColor;
  border-radius: $borderRad;
  background-color: rgba(91, 42, 240, 0.15);
}

.query-container {
  width: 85%;
  margin-bottom: 10px;
}

.visuals-container {
  min-height: 400px;
  margin-top: 1vh;
}

.query-display-flex {
  border-radius: $borderRad;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.query-display-child {
  padding-left: 1.5%;
}

.query-display-title {
  text-align: center;
  padding: 0.5vw;
  margin-top: 1vw;
  font-size: 3vw;
}

.fields-container {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  border-radius: $borderRad;
  width: 95%;
  margin-bottom: 8px;
  border: 1.5px solid $primaryColor;
  min-height: 150px;
  max-height: 300px;
  overflow-y: scroll;
}

.fields-container-result::-webkit-scrollbar {
  display: none;
}
.fields-container::-webkit-scrollbar {
  display: none;
}

.query-input {
  color: $secondaryColor;
  background-color: $lightTertiaryColor;
  border-radius: $borderRad;
  font-size: 1.3vw;
  width: 100%;
  height: 10rem;
  text-align: left;
  resize: none;
  border: none;
  margin: 0;
  padding: 0.5vw;
}

.query-input:focus {
  outline-width: 0;
}

.fields-container::-webkit-scrollbar,
.fields-container-result::-webkit-scrollbar {
  display: none;
}
#query-box {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.query-display-child .toggle-button-group-rc {
  // border: 3px solid red;
  width: 20%;
}

[type='radio'] {
  // this changes the shadow around run and clear buttons
  // display: none;
}

h1 {
  color: $secondaryColor;
}

.fields-container-result {
  align-items: start;
  padding-left: 8px;
  padding-top: 8px;
  margin-right: 10px;
  border-radius: $borderRad;
  margin-bottom: 8px;
  border: 1px solid $blackColor;
  min-height: 162px;
  max-height: 200px;
  overflow-y: scroll;
  overflow-x: hidden;
  background-color: $lightTertiaryColor;
  //
  display: flex;
  flex-direction: column;
  justify-content: start;
  width: 98%;
  overflow-wrap: break-word;
  margin-bottom: 8px;
  border: 1.5px solid $primaryColor;
}

.single-result {
  word-break: break-all;
  font-size: 1rem;
  white-space: pre-wrap;
  // line-height: 1vh;
}

#visuals-header {
  text-align: center;
  font-size: 3.5vw;
  margin-top: 1%;
}

.visuals-display {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  // border: 4px solid red;
  padding: 0;
  margin: 0;
  // column-gap: 2%;
  // flex-wrap: wrap;
}

@media (max-width: 1050px) {
  .visuals-display {
    display: flex;
    flex-direction: column;
  }
  .query-input,
  .single-result {
    font-size: 1.6vw;
  }
}

@media (max-width: 866px) {
  .query-input,
  .single-result {
    font-size: 1.9vw;
  }
}

.left-visual,
.hits-misses,
.donut-chart {
  border: 1.5px solid $primaryColor;
  background-color: $lightTertiaryColor;
  border-radius: $borderRad;
  padding-left: 8px;
  padding-top: 8px;
  margin: 1%;
}

.left-visual,
.right-visual {
  // border: 4px solid green;
  height: 100%;
  margin: 0.5vw;
}

.left-visual {
  padding-bottom: 1vw;
  // margin: 20px;
  width: 60%;
  height: 300px;
  min-width: 540px;
}

.right-visual {
  display: flex;
  // column-gap: 5%;
  padding: 0;
}

.hits-misses {
  padding: 1vw;
  width: 45%;
  margin: 0;
  color: $secondaryColor;
  font-weight: 600;
  line-height: 2;
}

#hits {
  color: $primaryColor;
}
#misses {
  color: $errorColor;
}
#response-time {
  color: $blackColor;
}

.donut-chart {
  // margin-right: 40px;
  min-width: 250px;
  padding-bottom: 1vw;
  margin: 0;
  margin-left: 0.7vw;
}

/*



pages



*/

#team-page,
#about-page,
#docs-page {
  background-color: $lightTertiaryColor;
  width: 100vw;
  height: 100vh;
  text-align: center;
}

#team-page h1,
#about-page h1,
#docs-page h1 {
  font-size: 3rem;
  padding-top: 3%;
}

#team-description {
  margin: 4%;
}

#team-members {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.member-img {
  width: 280px;
  height: 280px;
  border-radius: 16px;
}

.member-name {
  margin-top: 2%;
  font-size: 1.6em;
  font-weight: 500;
  color: $primaryColor;
}

.member-links {
  font-size: 1em;
  font-weight: 400;
  color: $secondaryColor;
  text-decoration: none;
}

.member-links:hover {
  text-decoration: none;
}
